
.jumbotron {
    background-image: url(./img/jumbo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.fa-hotel{
    font-size: 100px;
}

.fa-beer{
    font-size: 120px;
}

.fa-bone {
    font-size: 120px;
}